@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu_button {
    @apply py-4 px-10 flex flex-col hover:bg-100 rounded-md shadow-md text-lg text-center text-100 hover:text-white font-semibold duration-200 ease-in-out;
  }
  .button_style {
    @apply py-4 px-10 bg-600 hover:bg-white text-white hover:text-600 font-semibold rounded-md shadow-md text-lg duration-200 ease-in-out;
  }
  .text_style {
    @apply hover:text-600 font-medium duration-200;
  }
  .box-holder {
    @apply container mx-auto my-10 max-w-[500px] gap-3 shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg bg-501 flex flex-col items-center justify-center py-4 px-8 duration-200;
  }
  .input_style {
    @apply border-none outline-none placeholder:text-slate-700 bg-300 py-2 px-4 rounded-lg ring-0 focus:ring-2 ring-600 duration-200 ease-in-out;
  }

  .login_links {
    @apply hover:text-100 text-sm hover:underline duration-200;
  }
  .verifypas-checked {
    @apply text-100 font-semibold;
  }
  /* Rep */
  .text-box {
    @apply font-semibold text-2xl md:text-4xl;
  }
  .text-p {
    @apply text-justify md:text-lg;
  }

  .dif_btn_style {
    @apply bg-600 text-white hover:bg-white shadow-md hover:text-600 py-2 px-4 rounded-lg  font-medium  duration-200;
  }
}
.liverifypas {
  display: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
