@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu_button {
    @apply py-4 px-10 flex flex-col hover:bg-100 rounded-md shadow-md text-lg text-center text-100 hover:text-white font-semibold duration-200 ease-in-out;
  }
  .button_style {
    @apply hover:bg-101 hover:text-white bg-white text-100 py-2 px-4 rounded-md shadow-md text-lg text-center  font-semibold duration-200 ease-in-out;
  }
  .text_style {
    @apply hover:text-blue-400  duration-200;
  }
  .box-holder {
    @apply container mx-auto my-10 max-w-[500px] gap-3 rounded-lg bg-200 flex flex-col items-center justify-center py-4 px-8;
  }
  .input_style {
    @apply border-none outline-none placeholder:text-slate-700 bg-300 py-2 px-4 rounded-lg ring-0 focus:ring-2 ring-100 duration-200 ease-in-out;
  }
  .login_input {
    @apply bg-100 px-10 rounded-lg text-white font-medium hover:text-100 hover:bg-white duration-200 shadow-xl py-2;
  }
  .login_links {
    @apply hover:text-100 text-sm hover:underline duration-200;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
