.liverifypas {
  /* display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: px;
  margin-left: 15px; */
}
.liverifypas li {
  display: flex;
  list-style: disc;
}
.verifypas-checked {
  color: green;
  font-weight: bold;
}
